*{box-sizing:border-box;
padding: 0;
margin: 0;
}

body {
    color: #33210d;
}

a{
    color:#33210d
}

img {
        max-width: 400px;
        min-width: none;
        padding: 1rem;
    }

/*header {
    styles the navigation on each page including mobile sizing for menu.
}*/

.main-menu {
    
    display: flex;
    background-color: #f1e2d0;

    }
@media only screen and (max-width: 500px) { 
    .main-nav {
        margin: 1rem 1rem 1rem 1rem;
        padding: .5rem .5rem .5rem .5rem;
        text-align: center;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;   
        width: 100%;    

    }
}
    @media only screen and (min-width: 500px) {
        .main-nav {
            margin: 1rem 1rem 1rem 1rem;
    padding: .5rem .5rem .5rem .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;   
    width: 100%;    
        }
    }
/*centers {
    elements horizontally
}*/

.center-element {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.center-image {
    display: block;
    margin-left:auto;
    margin-right: auto;
    max-width: 50%;
    max-height: 700px;
    max-width: 700px;
}

/*centers {
    text horizontally
}*/ 

.center-text {
    text-align: center;
}

/*grid {
    creates grid layout for homepage on screens larger than 769px
}*/ 

@media only screen and (min-width: 769px) {
    .grid-container-home {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5px;
    padding-top: 5em;
    padding-bottom: 5em;
}
}

label {
    display:block;
    font-weight: 550;
}

@media screen and (min-width: 1065px) {
    form {
        width: 50%;
        margin: auto;
    }
}

.form-input {
    border: 2px solid #33210d;
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
    margin-bottom: 1.5em;
    width: 100%;
    
}

.form-input:focus {
    outline: none;
    border: 2px solid #f1e2d0;
}

.form-message {
    border: 2px solid #33210d;
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
    margin-bottom: 1.5em;
    width: 100%;
    min-height: 200px;
}

.form-message:focus {
    outline: none;
    border: 2px solid #f1e2d0;
}

[type="submit"] {
    background: #f1e2d0;
    color:#33210d;
    padding: 3px;
    width: 100%;
    font-weight: 200;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: .5em;
    cursor: pointer;
}

[type="submit"]:hover,
[type="submit"]:focus {
    background: #33210d;
    color: #f1e2d0;
}

textarea {
    resize: vertical;
}

.error {
    border-color: #C62828;
  }
  
  .error-message {
    margin-top: -1em;
    margin-bottom: 1em;
    color: #C62828;
  }

/*grid-container {adds grid format to north page for screens larger than 768px
}*/
@media only screen and (min-width: 768px) {
.grid-container {
    display: grid;
    grid-template-columns: auto 80%;
    column-gap: 10px;
    row-gap: 50px;
}

/*grid-text {aligns text verticaly
}*/

}
.grid-text {
    align-self: center;

}

/*body-content {adds padding to content
}*/

.body-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/*contact-us {styles contact us form
}*/

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  input[type=submit] {
    background-color: #33210d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
/*footer {styles footer
}*/

.footer {    
    max-width: 100%;
    display: flex;
    padding: 1rem 1rem 1rem 1rem;
    background-color: #f1e2d0;
}